boto3==1.4.0
botocore==1.4.46
docutils==0.12
funcsigs==1.0.2
futures==3.0.5
jmespath==0.9.0
mock==2.0.0
nose==1.3.7
pbr==1.10.0
pep8==1.7.0
python-dateutil==2.5.3
PyYAML==3.11
s3transfer==0.1.1
six==1.10.0
